<h1>StaticPages#about_us</h1>
<p>Find me in app/views/static_pages/about_us.html.erb</p>

<%= link_to "Staging Environment", "http://qa.travelbuddyapp.us/" %><br>
<%= link_to "Production Environment", "http://travelbuddyapp.us/" %>
<%= link_to "Github", "https://github.com/Willardgmoore/travel_buddy" %>
