.row
  .col.s12
    %ul.tabs
      %li.tab.col.s12.m3
        %a.active{href: '#trips'}
          .hide-on-large-only
            %i.fa.fa-plane.fa-2x
              Trips
          .hide-on-med-and-down.inline
            %i.fa.fa-plane
              Trips
      %li.tab.col.s12.m3
        %a{href: '#checklists'}
          .hide-on-large-only
            %i.fa.fa-list.fa-2x
          .hide-on-med-and-down.inline
            %i.fa.fa-list
              Checklists
      %li.tab.col.s12.m3
        %a{href: '#reservations'}
          .hide-on-large-only
            %i.fa.fa-calendar.fa-2x
          .hide-on-med-and-down.inline
            %i.fa.fa-calendar
              Reservations
      %li.tab.col.s12.m3
        %a{href: '#documents'}
          .hide-on-large-only
            %i.fa.fa-files-o.fa-2x
          .hide-on-med-and-down.inline
            %i.fa.fa-files-o
              Documents
    #trips
      = render partial: '/shared/trips'
    #checklists
      = render '/shared/checklists'
    #reservations
      = render '/shared/reservations_home'
    #documents
      = render '/shared/documents'