.row
  .col.s12
    %ul.tabs
      %li.tab.col.s12.m3
        %a.active{href: '#trips'}
          %i.fa.fa-plane
            Trips
      %li.tab.col.s12.m3
        %a{href: '#checklists'}
          %i.fa.fa-list
            .hide-on-med-and-down.inline
              Checklists
      %li.tab.col.s12.m3
        %a{href: '#reservations'}
          %i.fa.fa-calendar
            .hide-on-med-and-down.inline
              Reservations
      %li.tab.col.s12.m3
        %a{href: '#documents'}
          %i.fa.fa-files-o
            .hide-on-med-and-down.inline
              Documents
    #trips.col.s12
      = render partial: '/shared/trips', locals: {trip: @trip}
    #checklists.col.s12
      = render '/shared/checklists'
    #reservations.col.s12
      = render '/shared/reservations_home'
    #documents.col.s12
      = render '/shared/documents'
