<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<%= link_to "new", new_user_trip_path %>
<br>

    
<div class="row">
<% @trip.each do |f| %>
  <div class="col s12 m4">
    <div class="card-panel ">       
      Name: <%= f.name %><br>
      Start Date: <%= f.start_date %><br>
      <%= link_to "show", new_user_trip_path %>
    </div>
  </div>
<% end %>
</div>