%h1
  Home Index
.row
  .col.s12
    %ul.tabs
      %li.tab.col.s3
        %a.active{href: '#trips'}
          Trips
      %li.tab.col.s3
        %a{href: '#checklists'}
          Checklists
      %li.tab.col.s3
        %a{href: '#reservations'}
          Reservations
      %li.tab.col.s3
        %a{href: '#documents'}
          Documents
    #trips.col.s12
      = render partial: 'trips', locals: {trip: @trip}
    #checklists.col.s12
      = render 'checklists'
    #reservations.col.s12
      = render 'reservations'
    #documents.col.s12
      = render 'documents'
