%h1
  Home Index
.row
  .col.s12
    %ul.tabs
      %li.tab.col.s3
        %a.active{href: '#trips'}
          Trips
      %li.tab.col.s3
        %a{href: '#checklists'}
          Checklists
      %li.tab.col.s3
        %a{href: '#reservations'}
          Reservations
      %li.tab.col.s3
        %a{href: '#documents'}
          Documents
    #trips.col.s12
    #checklists.col.s12
    #reservations.col.s12
    #documents.col.s12
