<h4 class="center-align">Checklists</h4>

  <% if current_page?(root_path)%>
  <p class="center-align">New checklists are made within a Trip.<br>Not all lists are shown here.</p>
  <ul class="collapsible popout" data-collapsible="accordion">
  <% else %>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li class="new-checklist-link"data-trip-id='<%= @trip.id %>'>
      <div class="collapsible-header"><i class="fa fa-plus fa-2x"></i>New Checklist</div>
    </li>
  <% end %>

  <% if @checklists != nil%>
  <% @checklists.each do |checklist| %>
    <li>
      <div class="collapsible-header"><i class="material-icons">view_list</i>
      <%= checklist.title %> <%= checklist.due_date %></div>
      <div class="collapsible-body">
          <% checklist.list_items.each do |item| %>
          <div class="collapsible-header">
        <ol>
            <li><%= item.content %></li>
        </ol>
        </div>
          <% end %>
      </div>
    </li>
  <% end %>
  <% end %>
</ul>