<h4 class="center-align">Checklists</h4>
<div class="row">
  <% if current_page?(root_path)%>
  <div>
  <% else %>
  <div class="col s12 m6 l4 new-checklist-link"data-trip-id='<%= @trip.id %>'>
  <% end %>
    <div class="card-panel">
      <div class="center-align">
        <i class="fa fa-plus fa-2x"></i><br>
          New Checklist
      </div>
    </div>
  </div>
</div>



  <% if @checklists != nil%>
<ul class="collapsible popout" data-collapsible="accordion">
  <% @checklists.each do |checklist| %>
    <li>
      <div class="collapsible-header"><i class="material-icons">view_list</i>
      <%= checklist.title %> <%= checklist.due_date %></div>
      <div class="collapsible-body">
          <% checklist.list_items.each do |item| %>
          <div class="collapsible-header">
        <ol>
            <li><%= item.content %></li>
        </ol>
        </div>
          <% end %>
      </div>
    </li>
  <% end %>
  <% end %>
</ul>


