<h1>Vaccines#show</h1>
<p>Find me in app/views/vaccines/show.html.erb</p>

Name: <%= @vaccine.name %><br>
Administration Method: <%= @vaccine.administration_method %><br>
Date Given: <%= @vaccine.date_given %><br>
Expiration Date: <%= @vaccine.expiration_date %><br>
