<br>
<h2 class="center-align">Edit Contact</h2>
<p class="center-align">Edit contact with name: <%= @contact.name %></p>
<div class="container">
  <div class="topish-left">
    <%= link_to 'Back', contact_path(@contact) %>
  </div>
</div>
<%= render 'contact_form' %>
