<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<%= link_to "new", new_contact_path %>

<% @contact.each do |f| %>
  Name: <%= f.name %><br>
  Phone Number: <%= f.phone_number %><br>
<% end %>
