<div class="row">
  <div class="col s12 l4 offset-l4 new-contact-link">
    <div class="card-panel hoverable teal accent-2">
      <div class="center-align">
        <i class="fa fa-plus fa-2x"></i><br>
          Create New Contact
      </div>
    </div>
  </div>
  <div class="col s12 m6 offset-m3">
    <div class="card-panel blue accent-2 bottom-margin-zero">
      <h3 class="center-align white-text">Contact List</h3>
    </div>
    <div class="collection top-margin-zero">
      <% @contact.each do |contact| %>
        <%= link_to contact.name, contact_path(contact), class: "collection-item" %>
      <% end %>
    <div>
  </div>
</div>
