<h2 class="center-align">Contacts Index</h2>
<p class="center-align">Keep track of people you may need to reach in an emergency!</p>
<div class="row">
  <div class="col s12 m6 l4">
    <div class="card-panel new-contact-link teal lighten-2 z-depth-2 hoverable">
      <div class="center-align">
        <i class="fa fa-plus fa-2x"></i><br>
          New Contact
      </div>
    </div>
  </div>
  <% @contact.each do |contact| %>
    <div class="col s12 m6 l4">
      <div class="card-panel white show-contact-link hoverable" data-contact-id='<%= contact[:id] %>'>
        Name: <%= contact.name %><br>
        Phone Number: <%= contact.phone_number %><br>
      </div>
    </div>
  <% end %>
</div>
