<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>

<%= link_to "new", new_user_trip_reservation_path %>

<% @reservation.each do |f| %>
  Business Name: <%= f.business_name %><br>
  Confirmation # <%= f.confirmation_number %><br>
  Check in: <%= f.check_in_date %><br>
<% end %>
