= form_for @address do |f|
  .input-field.col.s12
    = f.text_field :address
    = f.label :address
  .input-field.col.s12
    = f.hidden_field :user_id, :value => current_user.id
  .input-field.center-align
    %input.btn{ type: 'submit', value: 'Submit'}