/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
  $primary-color: color("blue", "accent-2") !default;
  $primary-color-light: color("blue", "lighten-1") !default;
  $primary-color-dark: color("grey", "darken-4") !default;
  $secondary-color: color("blue", "accent-2") !default;
  $link-color: color("deep-orange", "base") !default;
@import "materialize";

// This is to position the back link uniformly.
.topish-left { 
  position: absolute; 
  top: 75px; 
  left: 5%;
  }

 // Notice is green for success!
.notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid;
  text-align: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  }
// Error is red for warning
.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid;
  text-align: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  }
// Alert class is Yellow
.alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid;
  text-align: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  }

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

#main {
  flex: 1 0 auto;
  }

a {
  color: #0A4DA6;
  }

.rcorners4 {
  border-radius: 15px 50px 30px 5px;
  padding: 20px; 
}
.rcorners5 {
  border-radius: 15px 50px 30px;
  padding: 20px; 
}

.rcorners6 {
  border-radius: 15px 50px;
  padding: 20px; 
}
.wrapper{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;      
}

.blue_wallpaper{
  background-image: url("Blue_Abstract_Wallpaper.png");
}

.blue_tear1{
  background-image: url("blue_tear.jpg");
  background-size: 80%;
}
.tranparent6{
  opacity: 0.6;
}
.tranparent4{
  opacity: 0.9;
}

.card-panel {
  cursor: pointer;
}

