.border {
  border: 1px solid #448aff;
}

.blue-background {
  background-color: #448aff;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.light-grey {
  background-color: #f5f2f0 !important;
}