%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text 
          This will be the footer
        %p.grey-text.text-lighten-4
          A web application that will assist in planning your travels
  .footer-copyright
    .container
      %p.center-align © 2015 Travel Buddy