%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text 
          This will be the footer
        %p.grey-text.text-lighten-4
          List all links to every page here
          -# %br
          -# = link_to "User trip reservations", user_trip_reservations_path(@user, @trip)
          %br
          -# = link_to "contacts", user_contacts_path(@user, @contacts)
          -# %br
          -# = link_to "documents", documents_path
          -# %br
          -# = link_to "reservations", reservations_path
          -# %br
          -# = link_to "trips", trips_path
          -# %br
          -# = link_to "users", users_path
          -# %br
          -# = link_to "vaccines", vaccines_path
          -# %br
          -# = link_to "checklists", checklists_path
          -# %br
          A web application that will assist in planning your travels
  .footer-copyright
    .container
      %p.center-align © 2015 Travel Buddy